<ion-view view-title="About">
    <ion-content>
        <ion-list>
            <div class="padding">
                <h1>Fantasy Planning Poker</h1>
                <p>Pra'queles que matam um dragão a cada dia.</p>
                <hr />
                <dl>
                    <dt>Site:</dt>
                    <dd><a href="http://blog.maykelsb.kinghost.net">http://blog.maykelsb.kinghost.net</a></dd>
                    <dt>Arte:</dt>
                    <dd><a href="http://game-icons.net">http://game-icons.net</a></dd>
                </dl>
                <hr />
            </div>
        </ion-list>
    </ion-content>
</ion-view>
